.img{
    width: 25px;
    height: 25px;
    padding: 10px;
    background-color: rgb(14, 14, 14);
    border-radius: 100px;
    margin-top: 2%;
    margin-left: 2%;
}
.containeer{
    background-color: rgba(26, 31, 50, 0.788);
    width: 48%;
    height: 30%;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.name{
    font-size: x-small;
}
.all{
    width: 55%;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.81);
    border-radius: 20px;
    margin-right: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.main{
    width: 80%;
    height: 5px;
    background-color: rgb(14, 230, 28);
    border-radius: 20px;
}
.ten{
    width: 20%;
    background-color: red;
}
.sixty{
    width: 60%;
    background-color: rgb(81, 75, 255);
}
.thirtynine{
    width: 39%;
    background-color: rgb(241, 241, 55);
}
