.container{
width: 53%;
height: 32%;
position: relative;
bottom: 91%;
left: 42%;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
}
.element{
    width: 50%;
    height: 40%;
}