.container{
    display: flex ;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    height: 7vh;
    background-color: #1c273b;
    position: absolute;
    left: 15%;
    z-index: 0;
    
}
.container ul {
    display: flex ;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    list-style: none;
    color: white;
    font-family: "Poppins";
}
.icon{
    width: 25px;
    height: 25px;
}
ul.main{
    width: 29%;

}
.Card{
    width: 250px;
    padding: 0px;
}
.container ul li{
    cursor: pointer;
}
.nav2{
    width: 30px;
}
.nav2 img , .nav{
    padding: 5px;
    transition: all 200ms linear;
    border-radius: 2px;
}
.nav2:hover img{
background-color: #121c2c;
}
.nav:hover{
    color: yellow;
}
